:root{
   --black:#000;
   --black100:#0a0a0a;
   --black200:#1c1c1c;
   --black300:#292929;

   --white:#fff;
   --white100:#f3f3f3;
   --white200:#ededed;
   --white300:#dcdcdc;

   --orange:#ff831e;

   --shadow_slim: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgb(204, 219, 232) 0px 4px 9px -2px, rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
};